In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
df = pd.read_csv("credit_card_transactions_india.csv", sep=',')

In [8]:
df.head()

   id                   City       Date  Card Type Exp Type Gender  Amount
0   0           Delhi, India  29-Oct-14       Gold    Bills      F   82475
1   1  Greater Mumbai, India  22-Aug-14   Platinum    Bills      F   32555
2   2       Bengaluru, India  27-Aug-14     Silver    Bills      F  101738
3   3  Greater Mumbai, India  12-Apr-14  Signature    Bills      F  123424
4   4       Bengaluru, India   5-May-15       Gold    Bills      F  171574

In [6]:
engine = create_engine('postgresql://postgres:12qw12@localhost:5432/postgres')

In [7]:
df.to_sql('python_tb_credit_card', engine)

52

a tabela vai direto pro postgres, abre direto no dbeaver